.post{
    background-color: #efebeb ;
    display: flex;
    margin: 15px 0px;
    width: 60%


}
.post-meta2 li{
    gap: 10px;
}
footer{
    display: flex;
    gap: 30px;
    margin: 5vh 11vw;
}
.rescecent-news-d
{
    padding: 10px 0px 0px 0px;
}
.post-meta2 {
    /* flex: start; */
    margin: 0%;
    padding: 10px;
}

